In [9]:
import pandas as pd
import numpy as np

## Constructing DataFrame from a dictionary.

In [1]:
d = {'col1': [1, 2], 'col2': [3, 4]}

In [2]:
d

{'col1': [1, 2], 'col2': [3, 4]}

In [5]:
df = pd.DataFrame(data=d)

In [6]:
df

   col1  col2
0     1     3
1     2     4

In [7]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [10]:
#To enforce a single dtype:
# we will need to import numpy
df = pd.DataFrame(data=d, dtype=np.int8)

In [11]:
df.dtypes

col1    int8
col2    int8
dtype: object

In [12]:
#Constructing DataFrame from numpy ndarray:

df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

## pandas.DataFrame.from_records

### classmethod DataFrame.from_records(data, index=None, exclude=None, columns=None, coerce_float=False, nrows=None)

> Convert structured or record ndarray to DataFrame.

> Creates a DataFrame object from a structured ndarray, sequence of tuples or dicts, or DataFrame.
>https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_records.html#pandas.DataFrame.from_records

In [13]:
#Data can be provided as a structured ndarray:
data = np.array([(3, 'a'), (2, 'b'), (1, 'c'), (0, 'd')],
                dtype=[('col_1', 'i4'), ('col_2', 'U1')])
pd.DataFrame.from_records(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [14]:
#Data can be provided as a list of dicts:
data = [{'col_1': 3, 'col_2': 'a'},
        {'col_1': 2, 'col_2': 'b'},
        {'col_1': 1, 'col_2': 'c'},
        {'col_1': 0, 'col_2': 'd'}]
pd.DataFrame.from_records(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [15]:
#Data can be provided as a list of tuples with corresponding columns:
data = [(3, 'a'), (2, 'b'), (1, 'c'), (0, 'd')]
pd.DataFrame.from_records(data, columns=['col_1', 'col_2'])

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

# pandas.DataFrame.from_dict

### classmethod DataFrame.from_dict(data, orient='columns', dtype=None, columns=None)
> Construct DataFrame from dict of array-like or dicts.

> Creates DataFrame object from dictionary by columns or by index allowing dtype specification.

In [16]:
#By default the keys of the dict become the DataFrame columns:

data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [17]:
#Specify orient='index' to create the DataFrame using dictionary keys as rows:

data = {'row_1': [3, 2, 1, 0], 'row_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data, orient='index')

       0  1  2  3
row_1  3  2  1  0
row_2  a  b  c  d

In [18]:
#When using the ‘index’ orientation, the column names can be specified manually:

pd.DataFrame.from_dict(data, orient='index',
                       columns=['A', 'B', 'C', 'D'])

       A  B  C  D
row_1  3  2  1  0
row_2  a  b  c  d

# read_csv

In [20]:
data_csv=pd.read_csv('C:\\Users\\RaviVerma\\Desktop\\BigDataGuide\\python\\Lab\\Data\\pandas\\nba.csv')

In [21]:
data_csv

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# read_table

In [22]:
data_table=pd.read_table('C:\\Users\\RaviVerma\\Desktop\\BigDataGuide\\python\\Lab\\Data\\pandas\\nba.csv')

In [23]:
data_table

    Name,Team,Number,Position,Age,Height,Weight,College,Salary
0    Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,1...
1    Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,23...
2    John Holland,Boston Celtics,30.0,SG,27.0,6-5,2...
3    R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,18...
4    Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,...
..                                                 ...
453  Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,B...
454  Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,,90...
455  Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,,...
456  Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Ka...
457                                           ,,,,,,,,

[458 rows x 1 columns]