# Knowledge test on python list

In [1]:
# Check if list contains an element
l=[1,2,3,'a','b','c']
l1='a' in l

In [2]:
l1

True

In [5]:
#Iterate over 2+ lsit at the same time
#zip() list and then iterate over the zip object. A zip object is an iterator of tuples.

name=['snowbal','chewy','bubbles','gruff']
animal=['cat','dog','fish']
age=[1,2,2,6]
z=zip(name,animal,age)
for name,animal,age in z : print("%s the %s is %s" %(name,animal,age))

snowbal the cat is 1
chewy the dog is 2
bubbles the fish is 2

In [6]:
#When would you use list and when would you use dictionary

# if you can use both use dictionary because it is faster

#Both  list and dictionary are ordered as of pythi=on 3.7, a list allow duplicate values while a dictionary doen't allow
#duplicate 

pets={'dogs':2,'cats':1,'fish':5}

In [7]:
pets

{'dogs': 2, 'cats': 1, 'fish': 5}

In [10]:
#List is Mutable
x=[1]
x.extend([6,7])

In [11]:
x

[1, 6, 7]

In [12]:
#List can be homogeneous

#Difference between extend and append 

a=[1,2,3]
a.append(4)

In [13]:
a

[1, 2, 3, 4]

In [14]:
a.append([5,6])

In [15]:
a

[1, 2, 3, 4, [5, 6]]

In [16]:
b=[1,2,3]
b.extend([5,6])

In [17]:
b

[1, 2, 3, 5, 6]

### Do python list store value or pointer

In [18]:
#python list doesnot store value themselves. They store pointers to values stored somewhere else in memory
#This allow list to be mutable 
print(id(b))

2262726136584

### del

In [22]:
a=['w','x','y','z']

In [23]:
a

['w', 'x', 'y', 'z']

In [25]:
del a[0]
#Del removes an item froma list given it's index

In [26]:
a

['x', 'y', 'z']

### difference between del and pop

1) remove() removes the first instance of a matching object
2) pop removes an object by its index

In [29]:
a=['a','a','b','b','c','c']

In [30]:
a.remove('b')

In [31]:
a

['a', 'a', 'b', 'c', 'c']

In [32]:
a.pop(4)

'c'

In [33]:
a

['a', 'a', 'b', 'c']

In [35]:
a.pop()

'c'

In [36]:
a

['a', 'a', 'b']

### Remove duplicate from list

In [37]:
#If you are not concerned about maintaining the order of  alist, then converting to a set 
#and back to a list will achieve this.

In [38]:
l1=[3,2,2,1,1,1]

In [39]:
list(set(l1))

[1, 2, 3]

### Find the index of 1st matching element

In [40]:
fruit=['pear','orange','apple','grapefruit']
fruit.index('apple')

2

### Remove all element clear()

In [41]:
fruit = ['pear', 'orange', 'apple']

In [42]:
fruit

['pear', 'orange', 'apple']

In [43]:
fruit.clear()

In [44]:
fruit

[]

In [45]:
fruit = ['pear', 'orange', 'apple']

In [46]:
del fruit[:]

In [47]:
fruit

[]

### 13. Iterate over both the values in a list and their indices

In [49]:
# enumerate() adds a counter to the list passed as an argument.
grocery_list = ['flour','cheese','carrots']
for idx,val in enumerate(grocery_list):
    print("%s: %s" % (idx, val))

0: flour
1: cheese
2: carrots

### 14. How to concatenate two lists

In [50]:
one = ['a', 'b', 'c']
two = [1, 2, 3]

In [51]:
one + two

['a', 'b', 'c', 1, 2, 3]

### 15. How to manipulate every element in a list with list comprehension

In [52]:
li = [0,25,50,100]
[i+1 for i in li]

[1, 26, 51, 101]

### 16. Count the occurrence of a specific object in a list

In [53]:
pets = ['dog','cat','fish','fish','cat']
pets.count('fish')

2

### 17. How to shallow copy a list?

In [54]:
round1 = ['chuck norris', 'bruce lee', 'sonny chiba']
round2 = round1.copy()
round2.remove('sonny chiba')

In [55]:
round1

['chuck norris', 'bruce lee', 'sonny chiba']

In [56]:
round2

['chuck norris', 'bruce lee']

### 18. Why create a shallow copy of a list?

In [58]:
#Building off the previous example, modifying round2 will modify round1 if we don’t create a shallow copy.
#Without a shallow copy, round1 and round2 are just names pointing to the same list in memory. That’s why it 
#appears that changing the value of one changes the value of the other.
round1 = ['chuck norris', 'bruce lee', 'sonny chiba']
round2 = round1
round2.remove('sonny chiba')

In [59]:
round1

['chuck norris', 'bruce lee']

In [60]:
round2

['chuck norris', 'bruce lee']

### 19. How to deep copy a list?

In [61]:
#For this we need to import the copy module, then call copy.deepcopy().

In [62]:
round1 = [
    ['Arnold', 'Sylvester', 'Jean Claude'],
    ['Buttercup', 'Bubbles', 'Blossom']
]

In [63]:
round1

[['Arnold', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

In [64]:
import copy

In [65]:
round2=copy.deepcopy(round1)

In [66]:
round2

[['Arnold', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

In [67]:
round2[0][0]="jet Lee"

In [68]:
round2

[['jet Lee', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

In [69]:
round1

[['Arnold', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

### 20. What is the difference between a deep copy and a shallow copy?

Building off the previous example, creating a shallow copy and then modifying it would have affected the original list.
Why does this happen?
Creating a shallow copy does create a new object in memory, but it’s filled with the same references to existing objects that the previous list has.
Creating a deep copy creates copies of the original objects and points to these new versions. So the new list is completely unaffected by changes to the old list and vice versa.

In [70]:
round1 = [
    ['Arnold', 'Sylvester', 'Jean Claude'],
    ['Buttercup', 'Bubbles', 'Blossom']
]

In [71]:
round1

[['Arnold', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

In [72]:
import copy

In [73]:
round3=round1.copy()

In [74]:
round3

[['Arnold', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

In [75]:
round3[0][0]="Ravi Verma"

In [76]:
round3

[['Ravi Verma', 'Sylvester', 'Jean Claude'],
 ['Buttercup', 'Bubbles', 'Blossom']]

In [77]:
round1

[['Ravi Verma', 'Sylvester', 'Jean Claude'],
 ['Buttercup', 'Bubbles', 'Blossom']]

### 21. What is the difference between a list and a tuple.


Tuples cannot be updated after creation. Adding/removing/updating an existing tuple requires creating a new tuple.
Lists can be modified after creation.
Tuples often represent an object like a record loaded from a database where elements are of different datatypes.
Lists are generally used to store an ordered sequence of a specific type of object (but not always).
Both are sequences and allow duplicate values.

### 22. Return the length of a list

In [83]:
li = ['a', 'b', 'c', 'd', 'e']

In [84]:
li

['a', 'b', 'c', 'd', 'e']

In [85]:
len(li)

5

In [80]:
li = [[1,2],[3,4,5]]

In [81]:
li

[[1, 2], [3, 4, 5]]

In [82]:
len(li)

2

### 23. What is the difference between a list and a set?

While a list is ordered, a set is not. That’s why using set to find unique values in a list, like list( set([3, 3, 2, 1]) ) loses the order.
While lists are often used to track order, sets are often used to track existence.
Lists allow duplicates, but all values in a set are unique by definition.

### 24. How to check if an element is not in a list?

In [86]:
li=[1,2,3,4]

In [87]:
5 not in li

True

In [88]:
4 not in li

False

### 25. Multiply every element in a list by 5 with the map function

.map() allows iterating over a sequence and updating each value with another function.
map() returns a map object but I’ve wrapped it with a list comprehension so we can see the updated values.

In [89]:
def multiply_5(val):
    return val*5

In [90]:
a=[10,20,30,40,50]

In [91]:
[val for val in map(multiply_5, a)]

[50, 100, 150, 200, 250]

### 26. Combine 2 lists into a list of tuples with the zip function

In [95]:
alphabet = ['a', 'b', 'c']
integers = [1, 2, 3]

In [96]:
list(zip(alphabet,integers))

[('a', 1), ('b', 2), ('c', 3)]

### 27. Insert a value at a specific index in an existing list

In [97]:
li = ['a','b','c','d','e']
li.insert(2, 'HERE')

In [98]:
li

['a', 'b', 'HERE', 'c', 'd', 'e']

### 28. Subtract values in a list from the first element with the reduce function
reduce() needs to be imported from functools.

In [99]:
from functools import reduce
def subtract(a,b):
    return a-b

numbers=[100,10,5,1,2,7,5]
reduce(subtract,numbers)

70

### 29. Remove negative values from a list with the filter function

In [100]:
#Given a function, filter() will remove any elements from a sequence on which the function doesn’t return True.
def remove_negatives(x):
    return True if x>=0else False

a=[-100,2,3,-4]
[x for x in filter(remove_negatives,a)]

[2, 3]

### 30. Convert a list into a dictionary where list elements are keys

In [101]:
li = ['The', 'quick', 'brown', 'fox', 'was', 'quick']

In [102]:
d={k:1 for k in li}

In [103]:
d

{'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'was': 1}

### 31. Modify an existing list with a lambda function

In [104]:
a=[10,20,30,40,50]
list(map(lambda val:val*5,a))

[50, 100, 150, 200, 250]

### 32. Remove elements in a list after a specific index

In [105]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
li[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 33. Remove elements in a list before a specific index

In [106]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
li[15:]

[16, 17, 18, 19, 10]

### 34. Remove elements in a list between 2 indices

In [107]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
li[12:17]

[13, 14, 15, 16, 17]

### 35. Return every 2nd element in a list between 2 indices
Or before/after/between indices at a specific interval.
Here we return every 2nd value between the indices 10 and 16 using the slice syntax.

In [108]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
li[10:16:2]

[11, 13, 15]

### 36. Sort a list of integers in ascending order

In [109]:
li = [10,1,9,2,8,3,7,4,6,5]
li.sort()

In [110]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 37. Sort a list of integers in descending order
It’s also possible to sort in descending order with sort() by adding the argument reverse=True.

In [111]:
li = [10,1,9,2,8,3,7,4,6,5]
li.sort(reverse=True)

In [112]:
li

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 38. Filter even values out of a list with list comprehension
You can add conditional logic inside a list comprehension to filter out values following a given pattern.
Here we filter out values divisible by 2.

In [114]:
li = [1,2,3,4,5,6,7,8,9,10]
[i for i in li if i%2==0]

[2, 4, 6, 8, 10]

In [115]:
li = [1,2,3,4,5,6,7,8,9,10]

### 39. Count occurrences of each value in a list
One option is to iterate over a list and add counts to a dictionary. But the easiest option is to import the Counter class from collections and pass the list to it.

In [117]:
from collections import Counter
li = ['blue', 'pink', 'green', 'green', 'yellow', 'pink', 'orange']
Counter(li)

Counter({'blue': 1, 'pink': 2, 'green': 2, 'yellow': 1, 'orange': 1})

### 40. Get the first element from each nested list in a list

In [118]:
li = [[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
[i[0] for i in li]

[1, 4, 7, 10, 13]

### 41. What is the time complexity of insert, find and delete for a list?
> Insert is O(n). If an element is inserted at the beginning, all other elements must be shifted right.
> Find by index is O(1). But find by value is O(n) because elements need to be iterated over until the value is found.
> Delete is O(n). If an element is deleted at the beginning, all other elements must to be shifted left.

### 42. Combine elements in a list into a single string.
This can be done with the join() function.

In [119]:
li = ['The','quick','brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']
''.join(li)

'Thequickbrownfoxjumpedoverthelazydog'

### 43. What’s the affect of multiplying a list by an integer?
Multiplying a list by an integer is called multiple concatenation and has the same affect as concatenating a list to itself n-times.

In [1]:
['a','b']*5

['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b']

### 44. Use the “any” function to return True if any value in a list is divisible by 2

In [3]:
li1=[1,2,3]
li2=[1,3]

any(i % 2 == 0 for i in li1)

True

In [4]:
any(i % 2 ==0 for i in li2)

False

### 45. Use the “all” function to return True if all values in a list are negative
Similar to the any() function, all() can also be used with a list comprehension to return True only 
if all values in the returned list are True.

In [5]:
li1=[4,2,3]
li2=[2,4]

all(i % 2 == 0 for i in li1)

False

In [6]:
all(i % 2 ==0 for i in li2)

True

### 46. Can you sort a list with “None” in it?
You cannot sort a list with None in it because comparison operators (used by sort()) can’t compare an integer with None.

In [7]:
li = [10,1,9,2,8,3,7,4,6,None]
li.sort()

TypeError: '<' not supported between instances of 'NoneType' and 'int'

### 47. What kind of copy would the list constructor create from an existing list?
The list constructor creates a shallow copy of a passed in list. That said, this is less pythonic than using .copy().

In [10]:
li1=['a','b','c']
li2=list(li1)
li2.append('c')

In [11]:
li1

['a', 'b', 'c']

In [12]:
li2

['a', 'b', 'c', 'c']

### 48. Reverse the order of a list

In [13]:
li = [1,2,3,4,5,6,7,8,9,10]
li.reverse()

In [14]:
li

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 49. What is the difference between reverse and reversed?
reverse() reverses the list in place. reversed() returns an iterable of the list in reverse order.

In [15]:
li = [1,2,3,4,5,6,7,8,9,10]
list(reversed(li))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 50. What is the difference between sort and sorted?
sort() modifies the list in place. sorted() returns a new list in reverse order.

In [16]:
li = [10,1,9,2,8,3,7,4,6,5]
li.sort()

In [17]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
li = [10,1,9,2,8,3,7,4,6,5]
sorted(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 51. Return the minimum , max, sum value in a list
The min() function returns the minimum value in a list.

In [20]:
li = [10,1,9,2,8,3,7,4,6,5]
min(li)

1

In [21]:
max(li)

10

In [22]:
sum(li)

55

### 54. Use a list as a stack
You can use append() and pop() to treat a list like a stack. Stacks function per LIFO (last in first out).

In [23]:
stack = []
stack.append('Jess')
stack.append('Todd')
stack.append('Yuan')
print(stack)

['Jess', 'Todd', 'Yuan']

In [24]:
print(stack.pop())

Yuan

In [25]:
stack

['Jess', 'Todd']

### 55. Find the intersection of 2 lists
We can do this by utilizing set() with an ampersand.

In [1]:
li1 = [1,2,3]
li2 = [2,3,4]
set(li1) & set(li2)

{2, 3}

### 56. Find the difference between a set and another set
We can’t subtract lists, but we can subtract sets.

In [2]:
li1 = [1,2,3]
li2 = [2,3,4]
set(li1) - set(li2)

{1}

In [3]:
set(li2) - set(li1)

{4}

### 57. Flatten a list of lists with a list comprehensions
Unlike Ruby, Python3 doesn’t have an explicit flatten function. But we can use list comprehension to flatten a list of lists.

In [4]:
li = [[1,2,3],[4,5,6]]
[i for x in li for i in x]

[1, 2, 3, 4, 5, 6]

### 58. Generate a list of every integer between 2 values
We can create a range between 2 values and then convert that to a list.

In [5]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [6]:
list(range(5,10,2))

[5, 7, 9]

### 59. Combine 2 lists into a dictionary
Using zip() and the list() constructor we can combine 2 lists into a dictionary where one list
becomes the keys and the other list becomes the values.

In [7]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
dict(zip(name, animal))

{'Snowball': 'Cat', 'Chewy': 'Dog', 'Bubbles': 'Fish', 'Gruff': 'Goat'}

### 60. Reverse the order of a list using the slice syntax
While we can reverse a list with reverse() and reversed(), it can also be done with the slice syntax.

In [8]:
li = ['a','b',3,4]
li[::-1]

[4, 3, 'b', 'a']