In [9]:
import pandas as pd
import numpy as np

## Constructing DataFrame from a dictionary.

In [1]:
d = {'col1': [1, 2], 'col2': [3, 4]}

In [2]:
d

{'col1': [1, 2], 'col2': [3, 4]}

In [5]:
df = pd.DataFrame(data=d)

In [6]:
df

   col1  col2
0     1     3
1     2     4

In [7]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [10]:
#To enforce a single dtype:
# we will need to import numpy
df = pd.DataFrame(data=d, dtype=np.int8)

In [11]:
df.dtypes

col1    int8
col2    int8
dtype: object

In [12]:
#Constructing DataFrame from numpy ndarray:

df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

## pandas.DataFrame.from_records

### classmethod DataFrame.from_records(data, index=None, exclude=None, columns=None, coerce_float=False, nrows=None)

> Convert structured or record ndarray to DataFrame.

> Creates a DataFrame object from a structured ndarray, sequence of tuples or dicts, or DataFrame.
>https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_records.html#pandas.DataFrame.from_records

In [13]:
#Data can be provided as a structured ndarray:
data = np.array([(3, 'a'), (2, 'b'), (1, 'c'), (0, 'd')],
                dtype=[('col_1', 'i4'), ('col_2', 'U1')])
pd.DataFrame.from_records(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [14]:
#Data can be provided as a list of dicts:
data = [{'col_1': 3, 'col_2': 'a'},
        {'col_1': 2, 'col_2': 'b'},
        {'col_1': 1, 'col_2': 'c'},
        {'col_1': 0, 'col_2': 'd'}]
pd.DataFrame.from_records(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [15]:
#Data can be provided as a list of tuples with corresponding columns:
data = [(3, 'a'), (2, 'b'), (1, 'c'), (0, 'd')]
pd.DataFrame.from_records(data, columns=['col_1', 'col_2'])

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d